<app-player-stats></app-player-stats>
<p>
  You and your partner enter the house and go into the kitchen. The house is oddly quiet. You grab the phone and there is no dial tone. You call to your babysitter but there is no response. On the counter, a picture of your Yosemite family vacation looks odd. You pick it up and notice that all of the faces are distorted. It's hard to tell who is who. You show your partner.<br>
  "Am I seeing this right?" you say.<br>
  "The faces?"<br>
  "What the hell..."<br>
  You call for the babysitter again and again, no answer. You give your partner a worried look and you both start to ascend the staircase.<br>
  There is a weird light coming from the children's room.
</p>
<button (click)="goToResultOne()">Open the door</button>
