<app-player-stats></app-player-stats>
<p>
  You lift the hood and peak into the engine. There isn't much to see with it being so dark outside. You need a flashlight and you remember there is one in the garage. You ask your partner if they can get it, but they are no longer in the car. As you approach the garage, you hear a wierd, loud scratching noise coming from inside. <br>
  You call to your partner.<br>
  No answer.<br>
  You enter the garage and flip the light switch, but no lights turn on. You flip it a couple times and grumble to yourself.<br>
  As you dig through the toolbox for your flashlight. When you find it, a shadow passes behind you.<br>
</p>
<button (click)="goToGarageOne()">Shine the flashlight toward the shadow</button>
<button (click)="goToGarageTwo()">Run out the garage</button>
