<p>
  You answer the door. It's not the babysitter, but an older lady.<br>
  "Hi, my name is Mary Shaw. Jenny is my granddaughter and couldn't make it tonight, so I'm filling in. I hear you have a date night tonight and it's been awhile."<br>
  You're a little uneasy about the suggestion, but it's been months since your partner and you have been on date night. You welcome the stranger in.<br>
  Your partner comes down from the stairs and notices the stranger.<br>
  "Who's this?"<br>
  "Jenny couldn't make it. Mary is filling in."<br>
  "Uh, you think this is okay?" your partner says.<br>
  "It's been months since we've been out," you say.<br>
  "Fine, fine. Kids, come down here," your partner says.<br>
  The kids come downstairs and introduce themselves.<br>
  It's time to go, so you grab your jacket and head out the door with your partner. When you open the car door, the interior lights do not turn on. You get into the car and try to start it, but it doesn't make any noises.
</p>

<button (click)="goToInsideOne()">Go inside to call mechanic</button>
<button (click)="goToOutsideOne()">Try to fix the car yourself</button>
